* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	color: red;
}

.row {
	margin:50px;
}

.row > div {
	background-color: gray; 
	border: solid 1px black;
}

.p1{
	position: absolute;
	background-color: pink;
	border: solid 1px black;
	text-align: center;
	width: 30%;
	right:0;
}

.p2{
	position: absolute;
	color:white;
	background-color: red;
	border: solid 1px black;
	text-align: center;
	width: 30%;
	right:0;

}

.p3{
	position: absolute;
	background-color: yellow;
	border: solid 1px black;
	text-align: center;
	width: 30%;
	right: 0;
}