* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	font-size: 18px;
}

#header-nav{
    background-color: maroon;
    border-radius: 0;
    border: 0;
}

.navbar-brand h1{
    font-size: 1.2em;
    font-family: verdana;
    color: beige;
    margin-top: 0;
    margin-bottom: 0;
}   

.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}

#nav-list {
  margin-top: 10px;

}
#nav-list a {
  color: beige;
  text-align: center;
  background-color: maroon; 
}
#nav-list a:hover {
  color: maroon;
  background-color: beige;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid beige;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -42px;
}


h1 {
	text-align: center;
	color: red;
	margin: 30px;
	font-size: 2em;
}

h2{
    color: maroon;
}

.section h3 {
	position: absolute;
	top: -15px;
    left:0;
	text-align: center;
	width: 100%;
}

.section {
    padding: 40px 20px 0;
    background-color: #cccccc;
    border: 1px solid black;
    position: relative;
    margin: 20px;
}

